html,
body
{
	margin: 0;
	padding: 0;
	border: 0;
}

#field
{
    position: relative;

    margin: 20px auto;
    border: 1px solid #ccc;

    background: #eee;
	overflow: hidden;
}

#food,
.cell
{
	width: 19px;
	height: 19px;

	position: absolute;

    background: #000;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
}

#ui
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: #fff;
    text-align: center;
}

#ui.hidden
{
    display: none;
}

#score
{
	clear: both;
	font-size: 30px;
	color:#000;
	text-align: center;
	margin: 20px 0 0;
}
